
    <h1>Book List</h1>
    {% for book in books %}
        <li> book title: {{ book.title }}/
            book author: {{book.author}}/
            book publication_date:{{book.publication_date}}
        </li>
    {% endfor %}

    <p>title: უცხო/
        author:ალბერ კამიუ/
       publication_date:1942</p>
       <p>
        "title:დაკარგული დროის ძიებაში/
          author:მარსელ პრუსტი/
          publication_date:1927
       </p>
       <P>
        title:პროცესი/
            author:ფრანც კაფკა/
            publication_date:1925
       </P>

